<h1>
	Dashboard
</h1>

<h3>
	Welcome Back, {{currentUser.name}}
</h3>

<ul>
	{{log tickets}}
	{{log currentUser}}
	{{#each tickets as |ticket|}}
		<li>
			<h2>
				{{ticket.title}}
			</h2>
			<p>
				{{ticket.description}}
			</p>
			<p>
				Created by: {{ticket.creator.name}}
			</p>
		</li>
	{{/each}}
</ul>