<div class='masthead'>
	<h2 class='masthead'>
		Dashboard
	</h2>
	<h3>
		Welcome Back, {{currentUser.name}}
	</h3>
</div>

<div class='ticket-card-container'>
	{{#each tickets as |ticket|}}
		<div class='ticket-card' id='ticket-{{ticket.id}}'>
			<h2>
				{{ticket.title}}
			</h2>
			<p>
				{{ticket.description}}
			</p>
			<p>
				Created by: {{ticket.creator.name}}
			</p>
			<a href='/ticket/{{ticket.id}}'>
				<button>
					View Details
				</button>
			</a>
		</div>
	{{/each}}
</div>

<div class='masthead ticket-masthead'>
	<h2>
		Create A New Ticket
		<span id='new-ticket-span'>
			+
		</span>
	</h2>
</div>

{{! new ticket form }}
<div id='new-ticket-form-container' class='hide'>
	<form id='new-ticket-form' data-id='{{currentUser.id}}'>
		<label for='title'>
			Title:
		</label>
		<input type='text' id='title' name='title' required />
		<label for='description'>
			Description:
		</label>
		<textarea id='description' name='description' required></textarea>
		<label for='status'>
			Status:
		</label>
		<select id='status' name='status'>
			<option value='Open'>
				Open
			</option>
			<option value='In Progress'>
				In Progress
			</option>
			<option value='Closed'>
				Closed
			</option>
		</select>
		<label for='priority'>
			Priority:
		</label>
		<select id='priority' name='priority'>
			<option value='1'>
				1
			</option>
			<option value='2'>
				2
			</option>
			<option value='3'>
				3
			</option>
		</select>
		<label for='assigned_user_id'>
			Assigned User:
		</label>
		<select id='assigned_user_id' name='assigned_user_id'>
			{{#each users as |user|}}
				<option value='{{user.id}}'>
					{{user.name}}
				</option>
			{{/each}}
		</select>
		<button type='submit'>
			Create Ticket
		</button>
	</form>
</div>

<script src='/js/dashboard.js'></script>