{{! ticket detail page }}
<div class='ticket-detail'>
  {{log ticket}}
  {{ log enabled }}
  <div id='ticket-detail-card' data-id='{{ticket.id}}'>
    <h2>
      {{#if enabled}}
        <input id="ticket-title" type="text" value="{{ticket.title}}" />
      {{else}}
        {{ticket.title}}
      {{/if}}
    </h2>
    <p>
      {{#if enabled}}
        <textarea id="ticket-description">{{ticket.description}}</textarea>
      {{else}}
        {{ticket.description}}
      {{/if}}
    </p>
    <p>
      Created by: {{ticket.creator.name}}
    </p>
    <p>
      {{#if enabled}}
        <label for="status">Status:</label>
        <select id="ticket-status" name="status">
          <option value="Open" {{#if (eq ticket.status "Open")}}selected{{/if}}>Open</option>
          <option value="In Progress" {{#if (eq ticket.status "In Progress")}}selected{{/if}}>In Progress</option>
          <option value="Closed" {{#if (eq ticket.status "Closed")}}selected{{/if}}>Closed</option>
        </select>
      {{else}}
        Status: {{ticket.status}}
      {{/if}}
    </p>
    <p>
      Priority: {{ticket.priority}}
    </p>
    <p>
      Assigned to: {{ticket.assignedUser.name}}
    </p>
    {{! each ticket.comments in a ul }}
    <ul>
      {{#each ticket.comments as |comment|}}
        <li data-id='{{comment.user_id}}'>
          {{comment.comment_text}} - {{comment.user.name}}
          {{#if (eq comment.user_id ../currentUser.id)}}
            <button class='delete-comment-btn' data-id='{{comment.id}}'>
              Delete
            </button>
          {{else}}
            <button
              class='delete-comment-btn'
              data-id='{{comment.id}}'
              disabled
            >
              Delete
            </button>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class='comment-form'>
    <form data-id='{{currentUser.id}}'>
      <label for='comment'>
        Comment:
      </label>
      <textarea id='comment' name='comment-text'></textarea>
      <button type='submit'>
        Submit
      </button>
    </form>
  </div>
  <button id='delete-ticket-btn' data-id='{{ticket.id}}' {{#if enabled}}'' {{else}} disabled{{/if}}>
    Delete Ticket
  </button>

	<button id='update-ticket-btn' data-id='{{ticket.id}}'{{#if enabled}}'' {{else}} disabled{{/if}}>
		Update Ticket
	</button>

</div>

<script src='/js/ticket.js'></script>