{{! ticket detail page }}
<div class='ticket-detail'>
	{{log ticket}}
  {{ log enabled }}
	<div id='ticket-detail-card' data-id='{{ticket.id}}'>
		<h2>
			{{ticket.title}}
		</h2>
		<p>
			{{ticket.description}}
		</p>
		<p>
			Created by: {{ticket.creator.name}}
		</p>
		<p>
			Status: {{ticket.status}}
		</p>
		<p>
			Priority: {{ticket.priority}}
		</p>
		<p>
			Assigned to: {{ticket.assignedUser.name}}
		</p>
		{{! each ticket.comments in a ul }}
		<ul>
    {{#each ticket.comments as |comment|}}
      {{log ../currentUser}}
      <li data-id='{{comment.user_id}}'>
        {{comment.comment_text}} - {{comment.user.name}}
        {{#if (eq comment.user_id ../currentUser.id)}}
          <button class='delete-comment-btn' data-id='{{comment.id}}'>
            Delete
          </button>
        {{else}}
          <button
            class='delete-comment-btn'
            data-id='{{comment.id}}'
            disabled
          >
            Delete
          </button>
        {{/if}}
      </li>
    {{/each}}
		</ul>
	</div>
	<div class='comment-form'>
		<form data-id='{{currentUser.id}}'>
			<label for='comment'>
				Comment:
			</label>
			<textarea id='comment' name='comment-text'></textarea>
			<button type='submit'>
				Submit
			</button>
		</form>
	</div>
  
	<button id='delete-ticket-btn' data-id='{{ticket.id}}' {{#if enabled}}'' {{else}} disabled{{/if}}>
		Delete Ticket
	</button>

</div>

<script src='/js/ticket.js'></script>